/* Профиль скрыт по умолчанию */
.profile-panel {
    position: fixed;
    top: 0;
    right: -350px; /* Прячем за пределами экрана */
    width: 350px;
    height: 100vh;
    background: #1c1c1c;
    color: white;
    transition: right 0.5s ease-in-out;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 20px 0 0 20px;
}


.profile-btn {
    position: fixed;
    top: -18px;
    right: 20px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Убедись, что она выше других элементов */
}

.profile-sidebar {
    position: fixed;
    top: 70px;
    right: -350px; /* Прячем за экраном */
    width: 350px;
    height: 210px;
    background: #1a1a1a;
    box-shadow: -3px 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 28px;
    opacity: 0;
    transition: right 0.7s ease-in-out, opacity 0.9s ease-in-out;
}

.profile-sidebar.active {
    right: 30px; /* Выдвигаем */
    opacity: 1;
}

.profile-sidebar.unactive {
    right: -350px; /* Уезжает назад */
    opacity: 0; /* Исчезает */
}

.xp-bar-container {
  position: relative;
  width: 100%;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  height: 10px;
  margin-top: 30px;
}

.xp-bar {
    width: 0%; /* Начальное значение */
    height: 100%;
    background: #a22;
    transition: width 1s ease-in-out;
  }
  


.xp-text {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 10px;
  font-weight: bold;
  color: black; /* Или другой контрастный цвет */
  z-index: 2; /* Чтобы текст был видимым */
  white-space: nowrap;
  opacity: 0.7;
}

.profile-dropdown {
  display: none;
  position: absolute;
  right: 0;
  background: black;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
  width: 200px;
}

.profile-dropdown.active {
  display: block;
}

.logout-btn {
  position: absolute;
  right: 25px;
  top: 170px;
}

.new-rank{
  position: absolute;
  right: 25px;
  top: 90px;
}
.xp-txt{
  position: absolute;
  right: 226px;
  top: 90px;
}
.setting{
  position: absolute;
  right: 210px;
  top: 150px;
}
.setting-btn{
  position: absolute;
  right: 305px;
  top: 150px;
}